body {
  background-color: #d8c5dd;
    background:url(./cafe2.jpg)no-repeat;
    font-family: Rubik, Arial;
    color: #141414;
    
}

h1 {
  text-align: left;
  font-size: 290%;
  color: #3e3541;
}

form {
  margin-bottom: 20px;
  max-width: 500px;
  padding: 50px;
  border: 10px solid #a8338f;
  right: 300px;;
}

label {
  display: block;
  margin-bottom: 9px;
  background-color: #d3a4cb;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="button"] {
  padding: 10px;
  background-color: #83197a69;
  color: #201d1f;
  border: none;
  cursor: pointer;
}

#citasContainer {
  border: 5px solid #750f53;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 50px;
}

